/*
Boton btnLogin redondeado (border-radius: 5px;)
border: none;
outline: none;
background-color: #fff;
*/

/* C:/Users/anndr/IdeaProjects/CupOfJava/src/view/Login.fxml */

#btnLogin {
    -fx-border-radius: 10px;
    -fx-border-color: #612713;
    -fx-border-width: 0px;
    -fx-background-color: #782203;
    -fx-text-fill: #fcfcfc;
}

#btnLogin:hover {
    -fx-background-color: #612713;
}

#btnLogin:pressed {
    -fx-background-color: #c79f92;
}