#btnRegister {
    -fx-border-radius: 10px;
    -fx-border-color: #612713;
    -fx-border-width: 0px;
    -fx-background-color: #782203;
    -fx-text-fill: #fcfcfc;
}

#btnRegister:hover {
    -fx-background-color: #612713;
    -fx-cursor: hand;
}

#btnRegister:pressed {
    -fx-background-color: #c79f92;
}

#txtUsername, #pwdPassword {
    -fx-border-radius: 10px;
    -fx-border-color: #612713;
    -fx-border-width: 0px;
    -fx-background-color: #fff;
}

#txtusername:focus, #pwdPassword:focus {
    -fx-border-color: #782203;
}